@import 'lib/bootstrap.min.css'

body
  background #333 url(/img/bg.png)
  font-family 'PT SANS', Helvetica, sans-serif
  cursor default

a
  color #F6431A
a:hover
  color #000

header
  background #4A4444
  margin-bottom 10px
  font-family "kulturista-web", Rokkitt, Georgia, serif
  font-size 16px
  ul
    margin 18px 0 0 0
    li
      padding 5px
      margin 0 8px 0 0
      list-style-image none
      list-style-type none
      display inline-block
    li:last-child
      margin 0
    li.submit
      background #F6431A
      margin-right 10px
      a:hover
        color #4A4444
    li.selected a
      text-decoration: underline
  a
    color #fff
  a:hover
    color #F6431A
  h1
    padding 15px
    color #fff
    text-transform uppercase
    font-family Helvetica
  nav
    text-align center
  nav:first-child
    text-align left
  nav:last-child
    text-align right

.posts
  margin 0
  padding 0
  li
    list-style-image none
    list-style-type none
    margin-bottom 10px

.post
  p
    margin-left 0
    width 720px
    background #fff
    min-height 68px
    .headline
      display inline-block
      padding 15px 0 0 15px
      color #4A4444
      font-family "kulturista-web", Rokkitt, Georgia, serif
      font-size 20px
      line-height 20px
    .headline:hover
      color #F6431A
    .byline
      display block
      padding 0 0 15px 15px
      color #B5B0B0
      font-size 13px
      a
        font-weight bold
  .span1
    background #fff
    min-height 68px
    text-align center
    font-size 9px
    color #4A4444
    a
      color #4A4444
    .num
      margin-top 20px
      color #F6431A
      display block
      font-size 28px
      font-weight bold

.span12
  margin-left 0
  margin-bottom 10px
  width 960px
  background #fff
  p
    padding 15px
    margin 0
  blockquote
    padding 15px
    margin 0
    border none
    background #F6431A
    color #fff
    a
      color #4A4444
  form
    padding 15px
    margin 0

.comment
  padding 15px
  p
    padding 0
    margin 0
  .byline
    margin 0
  .reply
    text-align right
  ul
    margin-left 0
    margin-top 10px
    background #F6431A
  .comment
    margin-left 10px
    background #fff
    border-top 1px solid rgba(0,0,0,.1)
    border-right 1px solid rgba(0,0,0,.1)
