body{
	font-family:"PT SANS", Helvetica, sans-serif;
	color:$text;
}
.post-title, .header, .post-rank{
	font-family:"kulturista-web", Rokkitt, Georgia, serif;
}
a{
	text-decoration:none;
	font-weight:bold;
	&:link, &:visited, &:active{
		color:$red;
	}
	&:hover{
		color:black;
	}
}