.posts{
	.post{
		position:relative;
		margin-bottom:$grid-margin;
		@include cf;
		.post-content{
			background:#fff;
			height:$grid-unit - 30px;
			margin-right:240px;
			padding:15px;
			.post-rank{
				position:absolute;
				top:0px;
				left:-50px;
				display:block;
				height:$grid-unit;
				line-height:$grid-unit;
				width:30px;
				text-align:right;
				font-size:30px;
				// font-weight:bold;
				color:black(0.1);
			}
			.post-heading{
				margin-bottom:3px;
				.post-title{
					font-size:22px;
					color:$text;
					font-weight:bold;
				}
				.post-domain{
					color:$light-text;
					font-size:14px;
				}
			}
				.post-meta{
				font-size:13px;
				color:$light-text;
			}
		}
		.post-actions{
			float:right;
			padding:0;
			li{
				float:left;
				margin-left:$grid-margin;
				a{
					position:relative;
					background:#fff;
					display:block;
					width:$grid-unit;
					height:$grid-unit;
					line-height:$grid-unit;
					vertical-align:baseline;
					text-align:center;
					&:hover{
						background:white(0.7);
					}
					.points{
						display:block;
						color:$light-text;
						font-size:30px;
						line-height:50px;
					}
					.action{
						display:block;
						height:20px;
						width:100%;
						line-height:20px;
						position:absolute;
						bottom:5px;
						left:0px;
						font-size:13px;
					}
				}
			}
		}
	}
}